@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));


@theme {
    --text-2xs: 0.65rem;
    --color-background: hsl(0, 0%, 90%);
    --color-color: hsl(0, 0%, 15%);
    --color-primary: hsl(222, 69%, 36%);
    --color-primary-subtitle: hsl(222, 70%, 82%);
    --color-foreground: hsl(0, 0%, 90%);
    --color-subtitle: hsl(0, 0%, 40%);
    --color-muted: hsl(0, 0%, 15%);
    --color-content-background: oklch(92% 0.004 286.32);
    --color-content-border: oklch(70.5% 0.015 286.067);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--color-color);
    background-color: var(--color-background);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer {
    .global-p {
        @apply px-2 min-[400px]:px-8 md:px-20 lg:px-40 xl:px-80;
    }
}